.container {
  background: lightgray;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}
.item {
  background-color: white;
  border: 3px solid black;
  padding: 1rem;
  flex-basis: auto;
  flex: 1;
}
.item img {
  width: 95px;
  height: 95px;
}
