* {
  background-color: mediumseagreen;
  text-align: center;
}

#zz {
  margin: 2% 20% 20% 20%;
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  width: 270px;
  height: 325px;
  display: inline-block;
}
#picture {
  position: absolute;
  width: 28%;
  height: 24%;
  background-size: cover;
  border-radius: 100%;
  background-position: 50%;
  background-image: url(/resources/bao.jpg);
  left: 36%;
  top: 5%;
}
#text {
  font-size: 17px;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 35%;
  color: white;
}
#git {
  border: solid aliceblue 1px;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 50%;
}
.git:hover {
  background-color: chocolate;
}
#gittext {
  color: white;
}
#insta {
  border: solid aliceblue 1px;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 70%;
}
#instatext {
  color: white;
}
.in:hover {
  background-color: chocolate;
}
