.header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4); /* 사진색 불투명도 */
  background-image: url(/resources/background.jpg);
  background-size: cover;
  background-blend-mode: color; /* 사진에 색넣기*/
  background-position: center;
  height: 100vh;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-size: 4rem;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
  margin-top: 30px;
}
.header nav {
  margin-bottom: 100px;
}
.header a {
  color: white;
  display: block;
  font-size: 1.5rem;
  margin: 20px;
  font-weight: bold;
  text-decoration: underline; /* 밑줄넣기 */
}
.content {
  padding: 20px 20px 20px 320px;
  display: flex;
  flex-direction: column;
}
.content h1 {
  font-size: 3rem;
  font-weight: bold;
}
.content img {
  width: 100%;
  max-width: 500px;
  align-self: center;
  margin: 20px;
}
.content p {
  line-height: 1.5;
}
